*{
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
}
li{
  display: block;
  padding-top: 15px;
  padding-left: 15px;
}
form{
  background-color: #ccc;
  display: block;
}
button{
  margin: 5px;
  background-color: #eee;
}
h2{
  text-align: center;
}
#ToStext{
  font-size: 8pt;
}