body{
  	background-color: #efefff;
}
.actionbtn{
  	display:inline-block;
}
#buttons{
	display: block;
	margin:0;
}
#infowrapper{
  	float:right;
}
div{
	display: inline-block;
}
#userinfo{
	display: block;
}